{{#if this.helpers.isRegistered}}
    <span>{{this.data.username}}</span>
    {{else}}
    <a href="#">Registrate aqui</a>
{{/if}}
<h1>{{this.data.title}}</h1>
{{!-- esto esta del lado del ciente 
<script>
    alert('hola uwu')
</script>
--}}
